<tr data-link="<%= country_path(country) %>">
  <td><%= country.continent %></td>
  <td><%= country.name %></td>
  <td><%= country.region %></td>
  <td><%= country.surface_area %></td>
  <td><%= country.population %></td>
  <td><%= country.local_name %></td>
  <td><%= country.capital %></td>
  <td><%= country.internet_code %></td>
</tr>
