<tr href="#<%= modal %>" data-toggle="modal" data-remote="<%= country_path(country) %> #country-detail">
  <td><%= country.continent %></td>
  <td><%= country.name %></td>
  <td><%= country.region %></td>
  <td><%= country.surface_area %></td>
  <td><%= country.population %></td>
  <td><%= country.local_name %></td>
  <td><%= country.capital ? country.capital.name : '-' %></td>
  <td><%= country.internet_code %></td>
</tr>
